.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.row {
	max-width: 800px;
}

.columns {
	float: left;
}

h1 {
	font-weight: 300;
}

td {
	border-style: solid;
	border-width: 1px;
	font-size: 300%;
}

.wrapper {
  width: 80%;
  margin: 50px auto;
}
.status {
  width: 5px;
  height: 5px;
  border-radius: 10px;
  vertical-align: middle;
  display: inline-block;
}

.status--pending {
  background-color: #999;
}

.status--success {
  background-color: #339900;;
}

.status--alert {
  background-color: red;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  color: #fff;
  text-align: center;
  background: #000;
  opacity: .7;
}

.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.media-object {
  display: block;
  max-width: 100%;
  width: 70px;
  height: 60px;
}